

// ============ICON CUTOUTS START==================
.icon-cutout-wrap{
    width: 50vw;
    height: 20vw;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    div{
        // background: white;
        // opacity: .8;
    }  
}

.icon-svg-wrap{
   // width: 10vw;
    // background: green;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 5rem;
}
.icon-svg-wrap svg{
    flex-grow: 100;

}

.center-row{
    display: flex;
    margin: -2px 0;
    // background: teal;
}
.x-margin,
.y-margin{

    position: relative;
    flex-grow: 1;
    z-index: 2;
}
.y-margin{
    // background: red;
}
.text-wrap{
    margin: -3px;
}
.top-margin{
    margin-bottom: -3px;
}

.bottom-margin{
    margin-top: -3px;
}
.left-margin{
    margin-right: -3px;
}
.right-margin{
    margin-left: -3px;
}
.gutter-margin{
    margin: 0 -3px;
}
// ============ICON CUTOUTS END==================
// ============ICON FONTS START==================


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?8cgumo');
    src:  url('fonts/icomoon.eot?8cgumo#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?8cgumo') format('truetype'),
      url('fonts/icomoon.woff?8cgumo') format('woff'),
      url('fonts/icomoon.svg?8cgumo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-logo_left:before {
    content: "\e900";
  }
  .icon-logo_right:before {
    content: "\e901";
  }
  .icon-social_behance:before {
    content: "\e902";
  }
  .icon-social_dribbble:before {
    content: "\e903";
  }
  .icon-social_github:before {
    content: "\e904";
  }
  .icon-social_linkedin:before {
    content: "\e905";
  }
  
// ============ICON FONTS END==================

body {
    // background: white;
    font-family: 'Brother 1816','Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
    min-height: 130vh;
}
$color__link: #333;
$color__brandGreen: #152225;

h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}
a,a:visited{
    color: $color__link;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 1000;
    width: 100vw;
}
nav{

    display: block;
    background: white;
    margin: 0;

    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li{
            margin: 0;
            position: relative;
            z-index: 1;
            // height: 2.6rem;
            padding: 1rem;
            // display: flex;
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: .5em;
            cursor: pointer;
        }
        .link-home{
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 0;
            left: 0%;
            right: 0%;
            margin: 0 auto;
            cursor: auto;
            .title-wrap{
                display: block;
                position: relative;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: .9rem;
                    letter-spacing: .5em;
                    line-height: 1.4rem;
                    height: 1.4em;
                    padding: 0 2rem;

                    span{
                        display: block;
                    }
                    .title-1{
                        font-weight: 400;
                        font-size: 1.2em;
                        letter-spacing: .14em;
                    }
                    .title-2{
                        line-height: 2em;
                    }
                }
            }
            .title-backdrop{
                position: absolute;
                width: 100%;
                background: rgba(255,255,255,.5);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,  rgba(255,255,255,0) 100%);    
                height: 500%;
                z-index: -1;
                pointer-events: none;
                transition: 1s;
            }
        }

    }
}
.side-panels{
    position: relative;
    // width: 100vw;
    z-index: 2;
    a,a:visited{
        color: white;
        text-decoration: none;
    }
}
.panel-underlay{
    // backdrop-filter: blur(10px);
    width: 0px;
    height: 101vh;
    position: fixed;
    transition: width .4s;
    background: rgba(21, 34, 37, .3);
}
.underlay-left{
    left: 0;
}
.underlay-right{
    right: 0;
    width: 50vw;
}
.cover-panels{
    position: fixed;
    width: 100vw;
    // pointer-events: none;
    z-index: 1000;

    .name-wrap{
        pointer-events: none;
        width: 100%;
        text-align: center;
        position: absolute;
        // margin-top: 80vh;
        z-index: 1001;
        span{
            display: block;
            color: white;
            text-transform: uppercase;
            font-size: 1.6rem;
            transition: transform .7s, opacity .5s;
        }
        .line-1{
            font-weight: 400;
            letter-spacing: .14em;
        }
        .line-2{
            font-weight: 100;
            letter-spacing: .5em;
            opacity: .5;
            // color: green;
        }
        
    }
    .panel{
        height: 100vh;
        width: 50vw;
        position: absolute;
        transition: margin .35s;
    }
    .icon-cutout-wrap{
        .x-margin,
        .y-margin{
            background: #152225;
        }
        overflow: hidden;
        height: 100%;
        .icon-svg-wrap{
            background: none;
            font-size: 20rem;
            color: #152225;
            text-shadow: 2px 2px 4px rgba(8,10,10,.4);
            background: rgba(255,255,255,.8)
        }

        .bottom-margin{
            flex-grow: 3;
        }
    }
    .panel-left{
        left: 0;
        .right-margin{
            flex-grow: 0;
        }
    }
    .panel-right{
        right: 0;
        .left-margin{
            flex-grow: 0;
        }
    }
    
}
.side-panel{
    background: $color__brandGreen;
    position: fixed;
    transition: transform .3s;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .panel-inner-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    ul{
        li{
            list-style-type: none;
        }
    }

    &.panel-right{
        right: 0;
    }
    .portrait-wrap{
        // display: flex;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: solid 6px rgba(255,255,255,.99);
        box-shadow: 2px 2px 5px black;
        overflow: hidden;
        img{

            // object-position: 100% 0%;

        }
    }
    .bio-wrap{
        padding: 2rem 1rem; 
        text-align: center;
        font-weight: 100;
        opacity: .9;

    }
    
}

//==========PROJECT INDEX================
.project-index{
    // background: green;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: .5rem;
    list-style-type: none;
    margin-top: 4rem;
    padding: 2rem;
    li{
        box-shadow: 1px 1px 3px rgba(8,10,10,.4);
        position: relative;

    }
    img{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        z-index: 0;
    }
}
main{
    width: 100vw;
}

//============== PROJECT PAGE =================

.project-wrap-outer{
    // width: 100vw;
    // height: 100%;
    // background: green;
    padding: 2rem; 
    background: rgba(21, 34, 37, .8);
   

    .project-wrap-inner{
        background: white;
        display: flex;
    }
    .project-left,
    .project-right{
        flex-grow: 1;
        width: 50%;
    }
    .project-left{
        // background: green;
    }
    .project-right{
        // background: teal;
        .project-right-inner{
            margin: 1rem;
        }
        .project-head{
            h1{
                font-size: 1.3rem;
                text-transform: lowercase;
                font-wieght:100;
            }
            .project-type{
                text-transform: uppercase;
                border-right: solid 1px black;
                padding-right: .6em;
                margin-right: .4em;
                font-weight: 600;
                font-size: 1.2rem;
            }

            label{
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 1rem;
            }
        }
        .project-body{
            p{
                font-size: .9rem;
            }
        }
    }
}
.photo-grid-inner{
    padding: 1rem;
    .slide-wrap{
        *{
            height: 100%;
            width: 100%;
        }
    }
    .feat-image.slide-wrap{
        margin-bottom: 6px;
    }
}
.photo-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6px;
    // margin: 0 4px;
    
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}