body {
    // background: white;
    font-family: 'Brother 1816','Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
}
$color__link: #333;
$color__brandGreen: #152225;

h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}
a,a:visited{
    color: $color__link;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 1000;
    width: 100vw;
}
nav{

    display: block;
    background: white;
    margin: 0;

    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li{
            margin: 0;
            position: relative;
            z-index: 1;
            // height: 2.6rem;
            padding: 1rem;
            // display: flex;
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: .5em;
        }
        .link-home{
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 0;
            left: 0%;
            right: 0%;
            margin: 0 auto;
            .title-wrap{
                display: block;
                position: relative;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    letter-spacing: .05em;
                    height: 1.4em;
                    padding: 0 2rem;

                    span{
                        display: block;
                    }
                    .title-1{
                        font-weight: 400;
                        font-size: 1.4em;
                    }
                }
            }
            .title-backdrop{
                position: absolute;
                width: 100%;
                background: rgba(255,255,255,.5);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,  rgba(255,255,255,0) 100%);    
                height: 500%;
                z-index: -1;
                pointer-events: none;
            }
        }

    }
}
.side-panels{
    position: relative;
    a,a:visited{
        color: white;
        text-decoration: none;
    }
}
.side-panel{
    background: $color__brandGreen;
    position: fixed;
    transition: transform .3s;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

    .panel-inner-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    ul{
        li{
            list-style-type: none;
        }
    }

    &.panel-right{
        right: 0;
    }
    .portrait-wrap{
        // display: flex;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: solid 6px rgba(255,255,255,.99);
        box-shadow: 2px 2px 5px black;
        overflow: hidden;
        img{

            // object-position: 100% 0%;

        }
    }
    .bio-wrap{
        padding: 2rem 1rem; 
        text-align: center;
        font-weight: 100;
        opacity: .9;

    }
    
}