
//Mobile- XS
$screen__xs-width: 320px;
$screen__xs-height: 568px;
//Mobile
$screen__mobile-width: 480px;
$screen__mobile-height: 667px;

// Tablet Portrait
$screen__tablet-width: 992px;
$screen__tablet-height: 1024px;

// Laptop
$screen__laptop-width: 992px;

// Desktop
$screen__desktop-width: 1440px;



// ============ICON CUTOUTS START==================
.icon-cutout-wrap{
    width: 50vw;
    height: 20vw;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    div{
        // background: white;
        // opacity: .8;
    }  
}

.icon-svg-wrap{
   // width: 10vw;
    // background: green;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: 5rem;
}
.icon-svg-wrap svg{
    flex-grow: 100;

}

.center-row{
    display: flex;
    margin: -2px 0;
    // background: teal;
}
.x-margin,
.y-margin{

    position: relative;
    flex-grow: 1;
    z-index: 2;
}
.y-margin{
    // background: red;
}
.text-wrap{
    margin: -3px;
}
.top-margin{
    margin-bottom: -3px;
}

.bottom-margin{
    margin-top: -3px;
}
.left-margin{
    margin-right: -3px;
}
.right-margin{
    margin-left: -3px;
}
.gutter-margin{
    margin: 0 -3px;
}
// ============ICON CUTOUTS END==================
// ============ICON FONTS START==================


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?8cgumo');
    src:  url('fonts/icomoon.eot?8cgumo#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?8cgumo') format('truetype'),
      url('fonts/icomoon.woff?8cgumo') format('woff'),
      url('fonts/icomoon.svg?8cgumo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-logo_left:before {
    content: "\e900";
  }
  .icon-logo_right:before {
    content: "\e901";
  }
  .icon-social_behance:before {
    content: "\e902";
  }
  .icon-social_dribbble:before {
    content: "\e903";
  }
  .icon-social_github:before {
    content: "\e904";
  }
  .icon-social_linkedin:before {
    content: "\e905";
  }
  
// ============ICON FONTS END==================
.home .cover-panels{
    .panel-left{transform: translateX(100%)}
    .panel-right{transform: translateX(-100%)}
}
.project nav ul .link-home .title-backdrop{
    height: 300%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 40%,  rgba(255,255,255,0) 100%);    

}
body {
    // background: white;
    font-family: 'Brother 1816','Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    margin: 0;
    min-height: 130vh;
}
$color__link: #333;
$color__brandGreen: #152225;

h1,h2,h3,h4,h5,h6{
    font-weight: 100;
}
a,a:visited{
    color: $color__link;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 1000;
    width: 100vw;
}
nav{

    display: block;
    background: white;
    margin: 0;

    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        li{
            margin: 0;
            position: relative;
            z-index: 1;
            // height: 2.6rem;
            padding: .5rem;
            // display: flex;
            text-transform: uppercase;
            font-size: .8rem;
            letter-spacing: .5em;
            cursor: pointer;
        }
        .panel-link{
            display: block;
            padding: .5rem;
            position: relative;
            transition: .4s;

            &::before{
                content: '';
                position: absolute;
                width: 0;
                opacity: 0;
                height: 100%;
                top: 0;
                transition: .4s;
                z-index: -1;

            }
            &.left-link::before{
                left: 0;
                background: linear-gradient(to right, rgba(21, 34, 37,1) 0%,  rgba(21, 34, 37,0) 100%);    
            }
            &.right-link::before{
                right: 0;
                background: linear-gradient(to left, rgba(21, 34, 37,1) 0%,  rgba(21, 34, 37,0) 100%);    
            }
            &.true, 
            &:hover{
                color: white;
                padding: .5rem 1rem;
                font-weight: 400;
                &::before{
                    width: 200%;
                    opacity: 1;
                }
            }
        }
        .link-home{
            position: absolute;
            display: flex;
            justify-content: center;
            z-index: 0;
            left: 0%;
            right: 0%;
            margin: 0 auto;
            cursor: auto;
            .title-wrap{
                display: none;
                position: relative;
                @media only screen and (min-width: $screen__tablet-width){
                    display: block;
                }
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: .9rem;
                    letter-spacing: .5em;
                    line-height: 1.4rem;
                    height: 1.4em;
                    padding: 0 2rem;

                    span{
                        display: block;
                    }
                    .title-1{
                        font-weight: 400;
                        font-size: 1.2em;
                        letter-spacing: .14em;
                    }
                    .title-2{
                        line-height: 2em;
                    }
                }
            }
            .title-backdrop{
                position: absolute;
                width: 100%;
                background: rgba(255,255,255,.5);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 30%,  rgba(255,255,255,0) 100%);    
                height: 500%;
                z-index: -1;
                pointer-events: none;
                transition: 1s;
            }
        }

    }
}
.side-panels{
    position: relative;

    z-index: 2;
    a,a:visited{
        color: white;
        text-decoration: none;
    }
}
.panel-underlay{
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 101vh;
    position: fixed;
    transition: transform .4s, opacity .4s;
    background: rgba(21, 34, 37, .6);
    overflow-y: scroll;
    // cursor: pointer;
    .underlay-inner{
        width: 100%;
        height: 120vh;
        position: relative;
    }
    &:hover{
        opacity: .3;
    }
}
.underlay-left{
    right: 100%;
}
.underlay-right{
    left: 100%;
    // width: 50vw;
}
.cover-panels{
    position: fixed;
    width: 100vw;
    // pointer-events: none;
    z-index: 1000;

    &.true{
        .name-wrap {
            opacity: 1;
            span{
                opacity: 1;
            }
        }
        .panel-left{
            transform : translateX(100%);
        }
        .panel-right{
            transform : translateX(-100%);
        }
    }
    &.false{
        .name-wrap span{
        color : #152225; 
        opacity : 0;
        transform: translateY(30px);
        }
        .panel{
                transform : translateX(0%);
        }
    }

    .name-wrap{
        pointer-events: none;
        width: 100%;
        text-align: center;
        position: absolute;
        // margin-top: 80vh;
        z-index: 1001;
        opacity: 0;
        span{
            display: block;
            color: white;
            text-transform: uppercase;
            font-size: 1.6rem;
            transition: transform .7s, opacity .5s;
        }
        .line-1{
            font-weight: 400;
            letter-spacing: .14em;
        }
        .line-2{
            font-weight: 100;
            letter-spacing: .5em;
            color: rgba(255,255,255,.5)
        }
        
    }
    .panel{
        height: 100vh;
        width: 50vw;
        position: absolute;
        transition: margin .35s;
    }
    .icon-cutout-wrap{
        .x-margin,
        .y-margin{
            background: #152225;
        }
        overflow: hidden;
        height: 100%;
        .icon-svg-wrap{
            background: none;
            font-size: 20rem;
            color: #152225;
            text-shadow: 2px 2px 4px rgba(8,10,10,.4);
            background: rgba(255,255,255,.8)
        }

        .bottom-margin{
            flex-grow: 3;
        }
    }
    .panel-left{
        right: 100%;
        // transform: translateX(100%);
        .right-margin{
            flex-grow: 0;
        }
    }
    .panel-right{
        left: 100%;
        // transform: translateX(-100%);
        .left-margin{
            flex-grow: 0;
        }
    }
    
}
.side-panel{
    background: $color__brandGreen;
    position: fixed;
    transition: transform .3s;
    color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: $screen__tablet-width){
        width: 100vw !important;
    }

    &.panel-left{right:100%}
    &.panel-right{left:100%}

    .panel-inner-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    ul{
        li{
            list-style-type: none;
        }
    }

    &.panel-right{
        right: 0;
    }
    .portrait-wrap{
        // display: flex;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        border: solid 6px rgba(255,255,255,.99);
        box-shadow: 2px 2px 5px black;
        overflow: hidden;
        img{

            // object-position: 100% 0%;

        }
    }
    .bio-wrap{
        padding: 2rem 1rem; 
        text-align: center;
        font-weight: 100;
        opacity: .9;

    }
    
}

//==========CONTACT PANEL================
.panel-right .panel-inner-wrap{
    width: 100%;
    padding: 0;
    display: block;
    height: 100%;
}
.contact-inner-wrap{
    margin: 1rem;
    background: rgba(0,5,10,.2);
    // box-shadow:
    padding: 1rem;
    height: 100%;
    // display: flex;
    // // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // width: 100%;

}
.address-row{
    text-transform: uppercase;
    text-align: center;
    opacity: .8;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px black;
}
.contact-row{
    margin: 2rem 0;
    border-top: solid 1px rgba(255,255,255,.05);
    border-bottom: solid 1px rgba(255,255,255,.05);
    padding: 1.2rem;
    a:first-child{
        letter-spacing: .3rem;
    }
    a{
        display: block;
        text-align: center;
        margin: 5px;
        padding: .5rem 1rem;
        // background: rgba(0,0,0,.1)
    }
}
.social-row {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        padding: 0;
        margin: 0;
        // width: 40%;
        li{
            // display: block;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100px;
            width: 100px;
            border-radius: 0px;
            // border: solid 3px rgba(255,255,255,0);
            transition: border-radius .2s,box-shadow .1s;
            // transition: box-shadow .1s;
            overflow: hidden;
            box-shadow: 1px 1px 6px rgba(0,0,0,.8);

            .social-underlay{
                height: 100%;
                width: 100%;
                position: absolute;
                // background: green;
                opacity: 0;
                border-radius: 50px;
            }
            &:hover{
                border-radius: 50px;
                // border: solid 3px rgba(255,255,255,1);

                &.git{
                    
                }
                &.drib{
                    box-shadow: 0px 0px 8px #ea4c89;
                }
                &.in{
                    box-shadow: 0px 0px 8px #0072b1;
                }
                &.be{
                    box-shadow: 0px 0px 8px #053eff;
                }
                box-shadow: 0px 0px 8px white;
                transition: box-shadow .5s;


                .social-underlay{
                    opacity: 1;
                    // transition: .5s;

                }
                svg {
                    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0));
                    * {
                    fill: rgba(0,0,0,.8);
                    stroke-width: 0px;
                    }
                }
            }
        }
        .git div{background: #24292e}
        .drib div{background: #ea4c89}
        .in div{background: #0072b1}
        .be div{background: #053eff}
        a{
            display: block;
            margin: 0;
            svg{
                height: 100%;
                width: 100%;
                filter: drop-shadow(2px 2px 3px rgba(0,0,0,.6));

                *{
                    fill: rgba(25, 38, 41, 1);
                    stroke: rgba(255,255,255,.3);
                    stroke-width: 2px;
                    transition: .2s;
                }
            }
        }
    }
}
//==========PROJECT INDEX================
.project-index{
    // background: green;
    margin: 0;
    padding: 1rem;
    list-style-type: none;


    @media only screen and (min-width: $screen__tablet-width){
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: .5rem;
        margin-top: 4rem;
        padding: 2rem;
    }
    li{
        box-shadow: 1px 1px 3px rgba(8,10,10,.4);
        position: relative;
        z-index: 0;
        margin: .5rem 0;

        @media only screen and (min-width: $screen__tablet-width){
            margin: 0;
        }
        .project-link-outer{
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;

            &:hover{
                &::before{
                    transform: translateX(-100%);
                    opacity: .6;
                }
                .project-link-inner::before{
                    transform: translateX(100%);
                    opacity: .6;
                }

                .text-wrap-outer{
                    transform: translateY(100%);
                }
            }

            &::before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                opacity: 0;
                background: rgba(255,255,255,1);
                z-index: 1;
                transition: .4s;
                @media only screen and (min-width: $screen__tablet-width){
                    opacity: .2;
                }
        
            }

            .project-link-inner{
                height: 100%;
                width: 100%;
                &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    background: rgba(255,255,255,1);
                    z-index: 1;
                    transition: .4s;

                    @media only screen and (min-width: $screen__tablet-width){
                        opacity: .2;
                    }
                }

                .project-thumbnail{
                    height: 100%;
                    width: 100%;
                }
            }
         
            .text-wrap-outer{
                transition: .4s;
                position: absolute;
                z-index: 2;
                bottom: 0;
                color: white;
                background: rgba(21, 24, 27, .8);
                font-size: .8rem;
                text-align: center;
                width: 100%;
                // text-transform: uppercase;
                .project-text{
                    .project-cat{
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                }
                .project-client{
                    text-transform: uppercase;
                    font-weight: 400;
                    opacity: .7;
                }
            }
        }
    }


    img{
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        z-index: 0;
    }
}
main{
    width: 100vw;
}

//============== PROJECT PAGE =================

.project-wrap-outer{
    // width: 100vw;
    // height: 100%;
    // background: green;
    padding: 2rem; 
    background: rgba(21, 34, 37, .8);
    background: rgba(11, 18, 21, .9);

   

    .project-wrap-inner{
        background: white;
        display: flex;
        padding: 1rem;
    }
    .project-left,
    .project-right{
        flex-grow: 1;
        width: 50%;
    }
    .project-left{
        // background: green;
        margin-right: .5rem;
    }
    .project-right{
        // background: teal;
        background: rgba(0,5,7,.03);
        margin-left: .5rem;

        .project-right-inner{
            // margin: 1rem;
            margin-left: .5rem;
            margin: 1rem;
        }
        .project-head{
            h1{
                font-size: 1.3rem;
                text-transform: lowercase;
                font-weight:100;
            }
            .project-type{
                text-transform: uppercase;
                border-right: solid 1px black;
                padding-right: .6em;
                margin-right: .4em;
                font-weight: 600;
                font-size: 1.2rem;
            }

            label{
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 1rem;
            }
        }
        .project-body{
            p{
                font-size: .9rem;
            }
        }
    }
}
.photo-grid-inner{
    // padding: 1rem;
    .slide-wrap{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top:-3px;
            left: -3px;
            height: 100%;
            width: 100%;
            border: solid rgba(0,0,0,0) 3px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            transition: .2s;
            z-index: 1;
        }
        &:hover{
        &::before{
            content: '';
            position: absolute;
            top:-3px;
            left: -3px;
            height: 100%;
            width: 100%;
            border: solid white 3px;
            box-shadow: 0px 0px 6px rgba(21, 34, 37, .8);
            z-index: 1;
        }
        }
        cursor: pointer;
        *{
            height: 100%;
            width: 100%;
        }
    }
    .feat-image.slide-wrap{
        margin-bottom: 6px;
    }
}
.photo-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6px;
    // margin: 0 4px;
    
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

}

//============== IMAGE SLIDER =================
.slider-wrapper{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    transition: .3s;
    top: 0;
    left: 0;
    .slider-inner{
        pointer-events: none;
    }
    .slider-underlay{
        background: rgba(11, 18, 21, .8);
        height: 100vh;
        width: 100vw;
        top: 0;
        position: absolute;
        z-index: -1;
        transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        pointer-events: all;
        // transition: .2s;
        opacity: 1;

        &:hover{
            // background: rgba(21, 34, 37, .7);
        }


    }
    .arrow-container{
        position: fixed;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        button{
            transition: .2s;
            pointer-events: all;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            height: 20vh;
            max-height: 200px;
            width: 15vw;
            max-width: 200px;
            // width: 160px;
            cursor: pointer;
            outline: none;
            svg{
                transition: .2s;
                width: 40px;
                height: 40px;
                * {
                    transition: .2s;
                    fill: rgba(255,255,255,.6);
                }
            }
        }
        .arrow-streak{
            background: white;
            position: absolute;
            // top: 0;
            // height: 100%;
            height: 30px;
            // margin: 15% 0;
            width: 2px;
            transition: .1s;
            pointer-events: none;
            opacity: 0;
        }
        .button-wrap-outer{
            position: relative;
            display: flex;
            align-items: center;
            // background: green;

            .button-wrap-inner{
                pointer-events: all;
                display: flex;
                justify-content: center;
                align-items: center;
                // height: 60px;
            }
            &.active:active,
            &.active:hover{
                button{
                    svg{
                        transform: scale(1.3 , .8);
                        * {
                            fill: rgba(255,255,255,1)
                        }
                    }
                }
                .arrow-streak{
                    width: 200px;
                    transition: .3s;
                    opacity: 1;
                    transform: scaleY(.1);

                }
            }
        }
        .button-prev {
            button{
                // display: flex;
            }
            .arrow-streak{
                left: 0;
                margin-left: 60px;
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 10%,  rgba(255,255,255,0) 100%);    
   

            }
            &:hover{
                .arrow-streak{
                    // right:-50px;
                }
            }
        }
        .button-next {
            button{
                justify-content: flex-end;
            }
            .arrow-streak{
                right: 0;
                margin-right: 60px;
                background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,.5) 10%,  rgba(255,255,255,0) 100%);    


            }
            &:hover{
                .arrow-streak{
                    // left:-50px;
                    
                }
            }

        }
        
    }
    .nav{
        height: 50px;
        width: 50px;
        background: green;
    }
    .slide-window{
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        overflow: hidden;
        margin: 0 auto;
        transition: .2s;
    }
    .slide-container{
        display: flex;
        // transition: .3s;
        transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

    }
    .project-slide-wrap{
        height: 100vh;
        width: 100vw; 
        overflow: hidden;
        margin: 2px;
        flex: 1;
        // background: teal;
        display: flex;
        justify-content: center;
        align-items: center;
        // *{
            // margin: 1rem;
            // background: yellow;
            // height: 100%;
            // width: 100%;
            .slide-wrap-inner{
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    border: solid white 8px;
                    top: -8px;
                    left: -8px;
                    box-shadow: inset 2px 2px 8px rgba(0,0,0,.5);
                    z-index: 1;
                }
                border: solid white 5px;
                box-shadow: 2px 2px 18px rgba(0,0,0,.8);
            }
            .gatsby-image-wrapper{
                pointer-events: all;
                height: 400px;
                width: 400px;
            }
        // }
    }
}
